body{
    background-image:url("../images/notebook.png");
    max-width: 960px;
    margin-left:70px;
    color: #333333;
    font-family: Gill Sans  Gill Sans MT, sans-serif;


}

h1, h2, h3, .userid{
    color: #333333;
    font-family: Copperplate  Copperplate Gothic Light, sans-serif;
}


#container{
    margin: 10px auto 10px auto;
    }
aside{
    float: right;
    width: 420px;
    margin: 10px;
}

.column1{
    float: left;
    width: 500px;
    margin: 10px;
}

#loginForm{
    border-style: inset;
    width: 300px;

}

button {
    background-color: #6D8B91 ;
    color: #e5d8b3;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.button{
    background-color:#6D8B91 ;
    color: #e5d8b3;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.userid{
    padding-top: 10px;
}




/*tooltip*/
.tooltip{
    display: none;
    position: absolute;
    border:1px solid #734429;
    background-color: #E8E2D1;
    border-radius: 5px;
    padding:10px;
    color:#878C65;
    font: 12px gil-sans ;
    z-index: 1001;
}

/*tabs*/
#tabs{
    background-color:#878C65 ;
    width: 600px;
    height: 200px;
    padding: 20px;


}

#tab-nav{
    width: 600px;
    height: 80px;
    padding: 20px;
    background-color: #e5d8b3;
    text-decoration: none;
    list-style-type: none;


}

#tab-nav li{
    display:inline;
    margin-right: 120px;}


/*Books page*/


 #overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
   }

 #modal{
     width: 350px ;
     background: #878C65;
     box-shadow: 0 0 10px #000;
     border-radius: 10px;
     overflow: hidden;
     position: relative;
     top: 50%;
     left: 50%;
     margin-top: -200px;
     margin-left: -200px;
     z-index: 1001;
     display: none;
     }

 #modal .header{
     background: #734429;
     color:#EFE6CB ;
     padding: 10px;
     }

 #modal p{
     margin: 15px;

 }

 #modal .close{
     position: absolute;
     right: 5px;
     top: 5px;
     font-size: 16px;
     font-weight: bold;
     padding: 5px 10px;
     border: 1px solid #ccc;
     cursor: pointer;
     background-color: #bf5e47;
 }

 form{
     padding: 10px;
 }

 form.input{
     padding: 10px;

 }

 header{
     width: 960px;
 }

 .userid {
     width: 400px;
     display: inline;
     text-transform:uppercase ;
     text-decoration: underline;
     float: left;
 ;


 }

 #logOut {
     width: 80px;
     float: right;
 }

.dashbox{
    float: right;
}

 .mystatus > input[type=radio]{
     display:none;

 }

 input[type=radio]:checked + img{
     border: 2px solid #bf5e47;}

 /*sortable*/

#sortable { list-style-type: none; margin: 0; padding: 10px; width: 80%;  border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.8em; padding-left: 1.5em; font-size: 1.4em; height: 90px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

 
 /*photo gallery*/
.gallery .sorting {
    margin: 0px 0px 15px 0px;
    border: 1px solid #6d4d2e;
    background-color: rgba(109, 77, 46, .3);
}

.gallery .sorting span{
    padding:0px 20px 0px 0px; color:#6d4d2e;font-style: italic;
}

.gallery .sorting div{
    margin: 10px 0px 10px 10px;
}

.gallery .sorting a{
    color: #fff;
    font-size: .85em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 20px 3px 20px;
    background: url(../images/checkbox_normal.gif) no-repeat 0px 3px;
}
.gallery .sorting a:hover { color: #bf5e47;  }
.gallery .sorting a.selected { color: #bf5e47; background-image: url(../images/checkbox_active.gif);}

/*.gallery .photos .thumbnail_container { position: relative;background-color: #777; }
.gallery .photos .thumbnail_container a.thumbnail { position: absolute; }*/

.gallery .photos .thumbnail_container a.thumbnail img { width: 75px; height: 121px; border: 2px solid #6d4d2e;}

.gallery {
    display: inline;
    width: 700px;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:20%; height:10%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:50%; height:50%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:60%; max-height:50%;  -ms-interpolation-mode:bicubic;}
.cboxIframe{width:50%; height:50%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}




